<h1>Editando grupo</h1>

<%= render 'form' %>
<br>
<div class="form-group">
  <%= link_to 'Ver Grupo', @group, title:"Ver datos basicos del Grupo", class: "btn btn-default" %> |
  <%= link_to 'Volver', :back, class: "btn btn-default" %>
</div>