<h1>Editando Inscripción a Colonia</h1>

<%= render 'form' %>
<br>
<div class="form-group">
  <%= link_to 'Ver Inscripción', @registration, title:"Ver datos guardados de la Inscripción.", class: "btn btn-default" %> |
  <%= link_to 'Volver', :back, class: "btn btn-default" %>
</div>
